.container {
    height: 100%;
    overflow-y: hidden;
  
    mat-toolbar {
      margin-bottom: 10px;
    }
  
    mat-card-content {
      height: 100%;
  
      tr {
        cursor: pointer;
  
        &:hover {
          background: #039be50d;
        }
      }
  
      mat-paginator {
        margin-bottom: 50px;
        overflow: hidden;
      }
    }
}

table {
width: 100%;
}

tr.mat-footer-row {
font-weight: bold;
}

.mat-table-sticky {
border-top: 1px solid #e0e0e0;
}