.container {
    margin-bottom: 10px;

    mat-icon {
        cursor: pointer;
    }

    mat-toolbar {
        margin-bottom: 10px;
    }
    
    mat-form-field {
        margin-right: 10px;
    }
    
    .bloco-form {
        margin-top: 20px;
    }

    .acoes {
        button {
            margin-left: 10px;
        }
    }
}

@media screen and (max-width: 768px) {
    mat-form-field  {
        width: 100%;   
    }
}